:root {
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
  --fontSize: 16px;
  --borderRadiusInner: 10px;
  --borderRadiusOuter: 25px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: work-sans, sans-serif;
  margin: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.card {
  background-color: var(--paleBlue);
  position: relative;
  z-index: 1;
  margin: 50px auto;
  text-align: center;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(order-summary-component-main/images/pattern-background-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 767px) {
  .card::before {
    background-image: url(order-summary-component-main/images/pattern-background-mobile.svg);
  }
  .container {
    max-width: 100%;
  }
}

.card .container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  overflow: hidden;
}

.card .container img {
  max-width: 100%;
  border-top-right-radius: var(--borderRadiusOuter);
  border-top-left-radius: var(--borderRadiusOuter);
}

.card .content {
  background-color: var(--veryPaleBlue);
  margin-top: -3px;
  padding: 20px;
  border-bottom-right-radius: var(--borderRadiusOuter);
  border-bottom-left-radius: var(--borderRadiusOuter);
}

.card .content h3 {
  font-size: 25px;
  color: var(--darkBlue);
}

.card .content p {
  color: #777;
  line-height: 1.8;
  font-size: 19px;
  padding: 15px;
  margin: 5px;
}

.card .plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--paleBlue);
  padding: 10px 20px;
  border-radius: var(--borderRadiusInner);
  -webkit-border-radius: var(--borderRadiusInner);
  -moz-border-radius: var(--borderRadiusInner);
  -ms-border-radius: var(--borderRadiusInner);
  -o-border-radius: var(--borderRadiusInner);
}

.card .plan .price {
  display: flex;
  align-items: center;
}

.card .plan .price h4 {
  margin: 5px;
}

.card .plan .price span {
  color: var(--desaturatedBlue);
}

.card .plan a {
  text-decoration: underline;
  color: var(--brightBlue);
  font-size: 19px;
}

.card .plan a:hover {
  text-decoration: none;
}

.card a.proceed {
  display: block;
  background-color: var(--brightBlue);
  color: white;
  display: block;
  background-color: var(--brightBlue);
  color: white;
  margin: 25px 0;
  padding: 12px;
  font-weight: 600;
  width: 100%;
  border-radius: var(--borderRadiusInner);
  -webkit-border-radius: var(--borderRadiusInner);
  -moz-border-radius: var(--borderRadiusInner);
  -ms-border-radius: var(--borderRadiusInner);
  -o-border-radius: var(--borderRadiusInner);
}

.card a.proceed:hover {
  background-color: var(--desaturatedBlue);
}

.card a.cancel {
  font-size: 19px;
  font-weight: 600;
  color: var(--desaturatedBlue);
}
